@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
@import 'react-toastify/dist/ReactToastify.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
/* global.css */

/*font-family: 'Poppins', sans-serif;*/
/* font-family: 'Playfair Display', serif; */

/*navbar CSS*/
.navbar {
    font-family: 'Poppins', sans-serif;
    font-size:20px !important;
    line-height: 18px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px rgb(173, 142, 190);
    --webkit-box-shadow: 0 8px 6px -6px #f08b8b;
    border-bottom: salmon  !important;
    background: linear-gradient(to right, lightpink, lightcoral);
    padding: 10px;
}
.nav-link {
    font-weight: 600 !important;
    padding: 10px;
    color: #0c0c0c;
}
.active {
    border-bottom: 1px solid black;
}
.navbar-brand {
    font-weight: 700;
    font-family: "roboto", sans-serif;
    max-width: 0%;
    font-size: 25px;
}
.logo-img {
    max-width:60px;
    height: auto;
    margin-right: 10px;
    border-radius: 80%;
}
.footer {
    color:black;
    padding: 10px;
    background: linear-gradient(to right, lightpink, lightcoral);
    font-weight: bold;
    font-size: large;
}
.container-fluid {
    color: rgb(10, 10, 10);
    padding: 6px;
    margin: 6px;
    font-size: 25px;  
}
.footer a{
    text-decoration: none;
    color: black; 
    padding: 10px;
}
.footer a:hover {
    color: rgb(13, 13, 14);
    border-bottom: 1px solid aliceblue;
}

/* page not found css */

.pnf {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pnf-title {
    font-size: 100px;
    font-weight: 700 ;
}
.pnf-heading {
    font-weight: normal;
}
.pnf-btn {
    color: solid palevioletred;
    border: 1px solid palevioletred;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}
.contact-us {
    margin: 0;
    padding: 80px;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
  .col-md-6 {
    padding: 80px;
    
}
.col-md-4 {
    padding: 80px;
    font-weight: bold;
}
/* Assuming you have a container with a class ".form-container" */

/* form-container Page CSS */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    width: 300;
    flex-direction: column;
    background-color: aliceblue;
    background-image: linear-gradient(0deg, #ffdee9 0%, #62a5a3 100%);
    font-weight: bold;
    }
    .form-container form {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: #fff;
        padding: 15px;
    }
    .form-container form .title {
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        font-family: 'Playfair Display', serif;
    }
    .form-container form .input {
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0;
    }
    .form-container form button {
        border: 1px solid black ;
        border-radius: 0;
        background-color: rgb(252, 96, 148);
        color: rgb(14, 13, 13);
        width: 300px;
        font-weight: bold;
        font-size: 120%;
        
    }
    .form-container form button:hover {
        border: 1px solid black;
        background: black;               /*fallback for old browser*/
background: -webkit-linear-gradient(
    to right,
    #434343, #000000),
    ;
    background: linear-gradient(
        to right,
        #434343, #000000
    );
    }

    .admin-dashboard {
        text-decoration: none;
        padding: 1opx;
    margin: 50px;
    font-size: 20px; 
    color: #000;
    background-color: #add8e6;
    }

    /* Product link */
    .product-link {
        text-decoration: none !important;
        color: black !important;
    }
    .Filter {
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
/* Search Bar */
.search-form {
    margin-right: 30px;
    margin-top: 3px;
    width: 500px; 
    height: 45px; 
    border-radius: 5px;
   padding: auto;
   display: flex;
  align-items: center;
  justify-content: center;
  }
  .search-form input {
    border: none;
    border-radius: 10px;
    margin-left: 40px;
  }
  .search {
    background-color: #1a1110;
    font-weight: bold;
    font-size: 20px !important;
    color: #e6e0e0;
    border-radius: 0%;
    cursor: pointer;
     }

  .loadmore  {
    color: #f8f2f2;
    background-color: rgb(19, 13, 10);
    font-weight: bold;
    font-size: 20px !important;
  }
  .contact-info {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .contact-info a {
    color: #3498db;
    text-decoration: none;
  }

  .contact-info a:hover {
    text-decoration: underline;
  }
  /* user table */
.user-table {
    width: 90%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
